@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --colors-brand-beige-00: #fefefb;
  --colors-brand-beige-10: #f7f6e8;
  /* Background */
  --colors-brand-turquoise-00: #e6fafe;
  --colors-brand-turquoise-20: #b4f1fd;
  --colors-brand-turquoise-50: #69e3fc;
  /* Brand */
  --colors-brand-yellow-40: #ffea80;
  /* Brand */
  --colors-brand-yellow-100: #e5c000;
  --colors-brand-orange-70: #ff7733;
  /* Brand */
  --colors-grey-00: #ffffff;
  --colors-grey-20: #cccccc;
  --colors-grey-40: #999999;
  --colors-grey-60: #666666;
  --colors-grey-80: #333333;
  --colors-grey-100: #000000;

  --critical: 100%;
  --serious: 75%;
  --moderate: 50%;
  --minor: 25%;

  --score: 100;

  --color: colormix(in oklab, red var(--severity, 0%), lime);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* span {
  border: 1px solid var(--color);
  background: colormix(in oklab, red var(--severity, 15%), transparent);
}
 */

html img {
  width: 100%;
  height: auto;
}

/* RESULT PAGE */
.App {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 2vw;
  flex-wrap: wrap;
  color: #000000;
}

.card {
  background-color: #efefef;
  border-radius: 0.5em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1em;
}

.textCard {
  width: 92%;
}

.imgCard {
  width: 50%;
  height: 22.5rem;
}

.imgCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5em;
}

.gradingCard {
  width: 38%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.categoryCard {
  width: 40%;
  height: 20rem;
}
.gradingCard p {
  font-size: 1.5rem;
}

.btn {
  background-color: #000000;
  border: none;
  border-radius: 0.5em;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.listTitle {
  font-weight: 900;
}

.badge {
  width: 30%;
  height: auto;
}
.diversa {
  font-size: 35px;
  margin-left: 15px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.536);
  text-align: left;
  margin-top: 10px;
}

.notbutton {
  background: black;
}
.main {
  text-align: center;
  background: rgba(255, 255, 255, 0.21);
  padding: 20px;
  padding-bottom: 100px;
  border-radius: 30px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;
  border: 4px solid rgb(246, 246, 246);
}
.h1not {
  font-size: 100px;
  letter-spacing: 30px;

  padding: 0;
  border-bottom: 2px solid white;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 30px;
}
.h2not {
  margin-top: 0;
}
.pte {
  padding-bottom: 15px;
}
.notbutn {
  margin: 20px;
  background: rgb(205, 204, 204);
  padding: 10px;
  border-radius: 20px;
  text-decoration: none;
  color: rgb(24, 24, 25);
  border: 2px solid rgb(49, 48, 48);
}
.h1page {
  font-size: 50px;
  letter-spacing: 30px;
  text-align: center;
  padding: 0;
  border-bottom: 2px solid rgb(25, 25, 25);
  margin-left: 130px;
  margin-right: 130px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  color: rgb(25, 25, 25);
}
body {
  background: rgb(134, 134, 134);
}

.ppage {
  margin-left: 150px;
  margin-right: 150px;
  color: rgb(25, 25, 25);
}

.pagemain {
  text-align: center;
  background: rgba(255, 255, 255, 0.21);
  padding: 20px;
  padding-bottom: 100px;
  border-radius: 30px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;
  border: 4px solid rgb(246, 246, 246);
}

.url {
  margin: 20px;
  border: 1px solid rgb(246, 246, 246);
  border-radius: 10px;
  width: 300px;
  height: 30px;
  background: grey;
}
.check {
  padding: 5px;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid rgb(76, 76, 76);
}
body {
  background: rgb(106, 106, 106);
}

/* LOADING */

section {
  text-align: center;
  height: 100%;
}

img {
  margin-bottom: 10px;
}

#loading {
  position: relative;
  transform: translateY(-50%);
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-wrapper {
  text-align: center;
}

.loading-title {
  font-size: 2rem;
}
